@import "assets/font-loader";

*, *::after, *::before {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  font-family: "publicsans-regular", sans-serif;
  color: $white;
  background-color: $black;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1, h2 {
  font-family: "sora-bold", sans-serif;
}
h3, h4 {
  font-family: "sora-medium", sans-serif;
}

h1 {
  font-size: 2.1875em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5625em;
}
h4 {
  font-size: 1.25em;
}

.icon {
  position: relative;

  &::before {
    font-family: mdi, serif;
    position: absolute;
    display: block;

    font-size: 1em;
  }
}

@import "./assets/buttons";
@import "./assets/inputs";